body {
    padding-top: 20px;
    background-color: #B4CDCD;
}

.sec {
  padding-top: 30px;
}

.main {
  padding: 30px 15px;
  text-align: left;
  background-color: #ffffff;
}

.navbar-inverse{
    background-color: #003333;
}

.table-fixed {
   table-layout: fixed;
}

.abstract {
    padding: 10px 10px 10px 10px;
}

.colloqabstract {
  width: inherit;
}

.minibox {
  padding: 10px 20px;
  float: left;
}

#error {
  font-family: monospace;
}

#leftmain {
  padding: 30px 15px;
  width: 50%;
  float: left;
  background-color: #ffffff;
  font-size: 12pt;
  font-family: "Helvetica Neue", "Bookman Antiqua", Garamond, serif;
}

#rightmain {
  padding: 60px 15px;
  float: right;
  width: 49%;
  background-color: #ffffff;
  font-size: 11pt;
}

.footer {
  clear: both;
  background-color: #ffffff;
}
