.links ul {
  list-style-type: none;
  overflow: hidden;
}

.links li {
  float: left;
  display: block;
  padding: 10px 30px;
}

.icons a {
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      text-decoration: none;
      color: #84898d;
      border: 2px solid #999;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      width: 55px;
      height: 55px;
      line-height: 60px; }

.icons a .fa {
  font-size: 1.6em; }

.icons a:hover, .footer .icons a:active {
        color: #fff;
        border-color: transparent; }
.icons a:hover.icon, .footer .icons a:active.icon {
          background-color: #B4CDCD; }
.icons a:hover.icon-search, .footer .icons a:active.icon-search {
          background-color: white; }
.icons a:hover.icon-email, .footer .icons a:active.icon-email {
          background-color: grey; }
.icons a:hover.icon-github, .footer .icons a:active.icon-github {
          background-color: #222; }
.icons a:hover.icon-facebook, .footer .icons a:active.icon-facebook {
          background-color: #3765A3; }
.icons a:hover.icon-twitter, .footer .icons a:active.icon-twitter {
          background-color: #5EA9DD; }
.icons a:hover.icon-instagram, .footer .icons a:active.icon-instagram {
          background-color: #323232; }
.icons a:hover.icon-linkedin, .footer .icons a:active.icon-linkedin {
          background-color: #0274B3; }

body {
    padding-top: 20px;
    background-color: #B4CDCD;
}

.main {
  padding: 30px 15px;
  text-align: left;
  background-color: #ffffff;
}

.navbar-inverse{
    background-color: #003333;
}

.table-fixed {
   table-layout: fixed;
}

.abstract {
    padding: 10px 10px 10px 10px;
}

.minibox {
  padding: 10px 20px;
  float: left;
}

#error {
  font-family: monospace;
}

#leftmain {
  padding: 30px 15px;
  width: 50%;
  float: left;
  background-color: #ffffff;
  font-size: 12pt;
  font-family: "Helvetica Neue", "Bookman Antiqua", Garamond, serif;
}

#rightmain {
  padding: 60px 15px;
  float: right;
  width: 49%;
  background-color: #ffffff;
  font-size: 11pt;
}

.footer {
  clear: both;
  background-color: #ffffff;
}
